body {
	padding-top: 40px;
	padding-bottom: 40px;
}

.form-signin {
	max-width: 330px;
	padding: 15px;
	margin: 0 auto;
}

.form-signin .form-signin-heading, .form-signin .checkbox {
	margin-bottom: 10px;
}

.form-signin .checkbox {
	font-weight: 400;
}

.form-signin .form-control {
	position: relative;
	box-sizing: border-box;
	height: auto;
	padding: 10px;
	font-size: 16px;
}

.form-signin .form-control:focus {
	z-index: 2;
}

.form-signin input[type="email"] {
	margin-bottom: -1px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
	margin-bottom: 1px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.error-block {
	display: block;
	margin-top: 2px;
	margin-bottom: 10px;
	color: #FF0000;
}

.form-register {
	max-width: 700px;
	padding: 15px;
	margin: 0 auto;
}

.chat-bar-actions {
	max-width: 700px;
	min-height: 30px;
	margin: 0 auto;
	background-color: #009900;
}

.chat-bar-actions-left {
	float: left;
	width: 70%;
	padding: 5px 10px;
}

.chat-bar-actions-right {
	float: right;
	width: 30%;
	text-align: right;
	padding: 5px 10px;
}

.chat-full {
	max-width: 700px;
	max-height: 1000px;
	padding: 15px;
	margin: 0 auto;
	border: 2px solid #dedede;
}

.chat-contacts {
	float: left;
}

.chat-contacts-title {
	border-color: #ccc;
	background-color: #009900;
	border-radius: 5px;
	padding: 5px;
	margin: 5px 0;
	color: #fff;
	font-weight: bold;
	height: 30px;
}

.chat-contacts-body {
	width: 210px;
	height: 500px;
	overflow-y: scroll;	
}

.chat-contacts-body-name {
	padding: 2px;
}

.chat-contacts-body-name a:hover, a:visited, a:link, a:active {
	color: #000;
    text-decoration: none !important;
}

.chat-contact-name {
	float: right;
	min-width: 175px;
}

.chat-contact-status {
	float: left;
    border-radius: 200px;
    color: white;
    height: 10px;
    font-weight: bold;
    width: 10px;
    display: table;
    margin: 5px 0;
}

.chat-contact-status-online {
	background: green;	
}

.chat-contact-status-offline {
	background: #ddd;	
}

.messages-area {
	width: 450px;
}

.messages {
	width: 450px;
	height: 500px;
	overflow-y: scroll;
}

.contact-message {
	border-color: #ccc;
	background-color: #009900;
	border-radius: 5px;
	padding: 5px;
	margin: 5px 0;
	color: #fff;
	font-weight: bold;
	height: 30px;
}

.contact-message-name {
	float: left;
}

.contact-message-actions {
	float: right;
	padding: 0 5px;
}

.contact-message-actions span {
	padding: 0 5px;
}

.chat-messages {
	float: right;
}

.chat-message {
	border: 2px solid #dedede;
	background-color: #f1f1f1;
	border-radius: 5px;
	padding: 5px;
	margin: 5px;
}

.darker-right {
	border-color: #ccc;
	background-color: #ddd;
	text-align: right;
}

.chat-message::after {
	content: "";
	clear: both;
	display: table;
}

.time-right {
	float: right;
	color: #aaa;
}

.time-left {
	float: left;
	color: #999;
}

.chat-send-message {
	width: 700px;
	padding: 15px 5px;
	margin: 0 auto;
}

.chat-send-message-text {
	float: left;
}

.chat-send-message-text input {
	width: 615px;
}

.chat-send-message-button {
	float: right;
}

.chat-receive-message-contact {
	font-weight: bold;
}

.messages-history {
	width: 450px;
	height: 500px;
	overflow-y: scroll;	
}

.messages-history-header {
	border: 2px solid #dedede;
	padding: 5px 10px;
	min-height: 45px;
}

.messages-history-header-left{
	float: left;
}

.messages-history-header-left input {
	width: 100px;
}

.messages-history-header-right {
	float: right;
	padding: 5px 0;
}

.fake-link {
    text-decoration: none;
    cursor: pointer;
}

.center {
	text-align: center;
}

.hidden {
	display: none;
}